Repository RaytenCorp/Rayten, pull requests merged in 2024-08, with the labels that each got.

#5 Маппинг Кластера, багфикс
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new_item.yml
  Resources/Changelog/ChangelogVanilla.yml
  Resources/Locale/ru-RU/vanilla/changelog/changelog-window.ftl
  Resources/Maps/vanilla_cluster.yml
  Resources/Prototypes/Maps/cluster.yml
Labels: Changes: Map, Changes: Localization, No C#

#12 Добавление защиты от инъекции для скафандров
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/Vanilla/Clothing/Components/InjectableClothingComponent.cs
  Resources/Locale/ru-RU/chemistry/components/hypospray-component.ftl
  Resources/Locale/ru-RU/chemistry/components/injector-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: enhancement, Changes: Localization

#13 Fix: исправлены скафандры eva и инъекция шприца
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
Labels: bug

#9 Маппинг Кластера
  Resources/Changelog/ChangelogVanilla.yml
  Resources/Maps/vanilla_cluster.yml
Labels: Changes: Map, No C#

#16 Организовал все шаттлы в одну папку
  Resources/Maps/Shuttles/Vanilla/ccofficial.yml
  Resources/Maps/Shuttles/Vanilla/death.yml
  Resources/Maps/Shuttles/Vanilla/emergency_harsh.yml
  Resources/Maps/Shuttles/Vanilla/ert.yml
  Resources/Maps/Shuttles/Vanilla/pirate.yml
  Resources/Maps/Shuttles/Vanilla/pirate_old.yml
  Resources/Maps/Shuttles/Vanilla/quarantine.yml
  Resources/Maps/Shuttles/Vanilla/shared.yml
Labels: enhancement, Changes: Map

#19 Апстрим
  .github/workflows/publish-publish.yml
  Resources/Locale/ru-RU/corvax/tiles/tiles.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Prototypes/Corvax/Tiles/floors.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/europa.yml
Labels: Changes: Map, Changes: Localization, No C#

#20 Fix: Исправил инъекцию на мобах
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
Labels: bug
