Repository RaytenCorp/Rayten, pull requests merged in 2025-08, with the labels that each got.

#335 Изменения унатхов
  Content.Shared/Vanilla/Entities/NightVision/NightVisionComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: S: Untriaged, S: Needs Review, size/S

#332 add: классический плащ рд
  Resources/Locale/en-US/vanilla/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/vanilla/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Vanilla/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/Vanilla/Clothing/Neck/Cloaks/rd_classic.rsi/equipped-NECK.png
  Resources/Textures/Vanilla/Clothing/Neck/Cloaks/rd_classic.rsi/icon.png
  Resources/Textures/Vanilla/Clothing/Neck/Cloaks/rd_classic.rsi/inhand-left.png
  Resources/Textures/Vanilla/Clothing/Neck/Cloaks/rd_classic.rsi/inhand-right.png
  Resources/Textures/Vanilla/Clothing/Neck/Cloaks/rd_classic.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites, Changes: No C#, S: Needs Review, size/S

#337 очки ночного видения
  Content.Shared/Vanilla/Entities/NightVision/NightVisionOverlayComponent.cs
  Resources/Audio/Vanilla/Effects/Actions/nightvisionambient.ogg
  Resources/Audio/Vanilla/Effects/Actions/nightvisionswitch.ogg
  Resources/ConfigPresets/Vanilla/Aegis.toml
  Resources/Locale/ru-RU/vanilla/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Vanilla/Entities/Objects/Clothing/Eyes/NightVisionDevice.yml
  Resources/Prototypes/Vanilla/Entities/Objects/Clothing/Eyes/ThermalGlasses.yml
  Resources/Prototypes/Vanilla/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Vanilla/Loadouts/Miscellaneous/legends.yml
  Resources/Prototypes/Vanilla/Loadouts/loadout_groups.yml
  Resources/Prototypes/Vanilla/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Vanilla/Recipes/Lathes/security.yml
  Resources/Prototypes/Vanilla/Research/arsenal.yml
  Resources/Textures/Vanilla/Clothing/Eyes/Hud/night_vision_device.rsi/icon-on.png
  Resources/Textures/Vanilla/Clothing/Eyes/Hud/night_vision_device.rsi/icon.png
  Resources/Textures/Vanilla/Clothing/Eyes/Hud/night_vision_device.rsi/meta.json
  Resources/Textures/Vanilla/Clothing/Eyes/Hud/night_vision_device.rsi/off-equipped-EYES.png
  Resources/Textures/Vanilla/Clothing/Eyes/Hud/night_vision_device.rsi/on-equipped-EYES.png
Labels: Changes: Localization, Changes: Sprites, Changes: No C#, S: Untriaged, S: Needs Review, size/M, Changes: Audio

#339 Новая карта тэтэтэ
  Resources/Audio/Vanilla/Effects/alarm.ogg
  Resources/Audio/Vanilla/Effects/reportAmogus.ogg
  Resources/Audio/Vanilla/Effects/warhead.ogg
  Resources/Maps/Vanilla/Misc/TTT/Complex.yml
  Resources/Prototypes/Vanilla/Entities/Structures/Lighting/strobe-lighting.yml
  Resources/Prototypes/Vanilla/Entities/Structures/Misc/ttt_decorations.yml
  Resources/Prototypes/Vanilla/Entities/Structures/Wallmounts/Switches/switch.yml
Labels: Changes: Map, Changes: No C#, size/XL, S: Untriaged, S: Needs Review, Changes: Audio
